.profile {
  text-align: center;
}
.stats {
  list-style: none;
  margin-left: -30px;
}
.label {
  margin-right: 15px;
  color: blue;
}
.quantity {
  color: grey;
  color: gold;
}
.avatar {
  outline: 1px solid tomato;
}
.name,
.tag,
.location {
  color: tomato;
}
