.status {
  margin: 15px;
  font-size: 55px;
}
.friends {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.friendList {
  text-align: center;
  list-style: none;
}
.avatar {
  background-color: blue;
}
.name {
  text-transform: uppercase;
}
.item {
  outline: 1px solid tomato;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
